.logo {
    width: 190px;
    height: 80px;
}

ul {
    margin-bottom: 0 !important;
}

.burger {
    margin-right: 10px;
}

.form-control::placeholder {
    font-size: 15px;
}

.form-control:hover {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.17) inset;
    -moz-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.17) inset;
    box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.17) inset;
}



.header {
    position: sticky !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 9999;
    height: 80px !important;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.nav_bg {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 3;
    background: #ffffff;
    /* -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, .5);
    box-shadow: 0px 10px 30px rgba(209, 213, 223, .5); */
}




.header_top {
    text-align: center;
    background: #ffffff;
    height: 80px !important;
}

.search_bar {
    margin-left: 30px;
    display: flex;
}

.form {
    display: flex;

}

.headerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: .3s;
}

.headerLogin:hover {
    color: blue;
}

.basket_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    transition: .3s;
    position: relative;
    
}

.dropdown{
    height: 100%;
}

.basket_active {
    transform: scale(1.3);
    transition: .3s;
}

.basket_text {
    font-size: 15px;
    transition: .3s;

}

.style_basket {
    font-weight: 300;
}

.active {
    color: blue;

}

.shop_cart {
    position: absolute;
    top: 50px;
    right: 0;
    width: 400px;
    min-height: 200px;
    background: #eeeeee;
    -webkit-box-shadow: 0px 18px 37px -11px rgba(139, 139, 139, 0.64);
    -moz-box-shadow: 0px 18px 37px -11px rgba(139, 139, 139, 0.64);
    box-shadow: 0px 18px 37px -11px rgba(139, 139, 139, 0.64);
    z-index: 1000;
    border-radius: 15px;
    transition: .5s;
}

.cart_content {
    background: #ffff;
    width: 100%;
    min-height: 30px;
    border-radius: 15px 15px 0 0;
}



.cart_text_top {
    display: flex;
    justify-content: space-between;
}

.summ_text {
    opacity: .7;
}

.summ {
    margin: 20px 15px;

}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.btn_top {
    height: 40px;
    margin: 10px;
}

.nav_btn {
    margin: 10px;
}


.profile_text {
    font-size: 15px !important;
    font-weight: 300 !important;
}

.container-fluid {
    flex-wrap: nowrap !important;
}

.nav-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom {
    position: fixed;
    max-width: 100%;
    bottom: 0;
    z-index: 999999;
}


/* SubNav */

.sub-Header {
    min-height: 50px;
    background: #383b47;
    color: white;
}

.subHeader-wraper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.subHeader_category_item {
    padding: 18px 40px;
    height: 100%;
    font-weight: 500;
    

}

.subHeader_category_item.active {
    background: #0d7377;
}

.subHeader_category {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub_nav-item {
    color: #eeeeee;
    line-height: 14px;
    font-size: 16px;
    transition: .3s;
    margin-left: 6px;
}


.subHeader_item_text {
    color: #eeeeee;
    line-height: 14px;
    font-size: 16px;
    transition: .3s;
}




.breadcrembs{
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}