.wrapper_show{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: .3s;
    z-index: 10001;
    height: 100px !important;

}


.favorite_icon{
   font-size: 8rem;
}
.show_add{
    position: absolute;
    margin-top: 20px;
    left: 45%;
    padding: 15px;
    background: #009420;
    color: white;
    border-radius: 15px;
    transition: .3s;
}

.wrapper_remove{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: .3s;
    z-index: 10001;
}


.show_remove{
    position: absolute;
    margin-top: 20px;
    left: 45%;
    padding: 15px;
    background: #8a8a8a;
    color: white;
    border-radius: 15px;
    transition: .3s;
}

.favorite_description{
    font-weight: 400;
    font-size: 18px;
}

.favorite_none{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    line-height: 15px;
}

.card_none{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    opacity: .3;

}



